<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>

@using (Html.BeginForm("Index", "Home"))
{
    <hgroup>
        <h1>You Should answer to all questions.</h1>
        <button type="submit" class="btn btn-primary btn-lg" id="btnSubmit">Take Your Test</button>
    </hgroup>
}
</body>
</html>
